img {
  width: auto;
  height: 300px;
}

h1 {
  margin-bottom: 2px;
}

/* Style the <summary> element */
summary {
  display: flex; /* Use flexbox to position items */
  align-items: center; /* Align vertically */
  cursor: pointer;
}

/* Replace the default arrow with a custom one */
summary::marker {
  content: ""; /* Remove the default marker */
}

/* Add a custom arrow using a pseudo-element */
summary::after {
  content: "▼"; /* Downward pointing arrow */
  font-size: 0.8em;
  margin-left: 10px;
  transition: transform 0.3s ease; /* Smooth rotation transition */
}

/* Rotate the arrow when details are open */
details[open] summary::after {
  transform: rotate(90deg); /* Rotate to point to the right */
}

/* Blinking colors animation */
@keyframes blink-colors {
  0% { color: red; }
  25% { color: orange; }
  50% { color: green; }
  75% { color: blue; }
  100% { color: purple; }
}

.clickMe {
  animation: blink-colors 1s infinite;
  font-style: italic;
  margin-left: 5px;
}

summary i {
  margin-left: 5px; /* Add spacing to the left of the date */
}


.thumbnail {
  width: auto;
  height: 30vh;
  z-index: 999;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  /* border: 10px solid white;  */
}

.thumbnail.scaled {
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 90vw; /* Adjust to ensure it fits the viewport width */
  max-height: 90vh; /* Adjust to ensure it fits the viewport height */
  width: auto;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -50%);
  border: 100vw solid white;
  z-index: 1000;
  background-color: white;
}

/* body {
  font-size: 1.5vw;
} */

/* video {
  width: auto;
  height: 300px;
}

iframe {
  width: auto;
  height: 300px;
} */

/* .dates {
  font-size: 1.2vw;
  font-style: italic;
  color: rgb(112, 112, 112);
} */

/* h1 {
  color: rgb(255, 0, 102);
} */